.statistics {
  width: 100%;
  height: 800px;
  background: #2f2f2f;
  position: relative;
  z-index: 100;
}
@media (max-width: 979px) {
  .statistics {
    height: auto;
    padding-bottom: 40px;
  }
}
@media (max-width: 768px) {
  .statistics {
    padding-bottom: 85px;
  }
}
.statistics .statistics-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.statistics .statistics-block .statistics-text {
  margin-top: 110px;
  font-size: 100px;
  font-family: "GrandHotel-Regular", sans-serif;
  color: #ffc200;
  line-height: 0.8;
  text-align: center;
}
.statistics .statistics-block .statistics-description {
  font-size: 25px;
  font-family: "Montserrat-Regular", sans-serif;
  color: white;
  line-height: 1;
  text-align: center;
  width: 800px;
  margin: 45px auto 100px auto;
}
@media (max-width: 979px) {
  .statistics .statistics-block .statistics-description {
    width: auto;
    margin-bottom: 200px;
  }
}
.statistics .statistics-block .statistics-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}
.statistics .statistics-block .statistics-list .statistics-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: white 5px solid;
  border-radius: 50%;
  width: 220px;
  height: 220px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.statistics .statistics-block .statistics-list .statistics-item .statistics-item-numbers {
  font-size: 50px;
  font-family: "Montserrat-Bold", sans-serif;
  color: #ffc200;
  line-height: 1;
  text-align: center;
}
.statistics .statistics-block .statistics-list .statistics-item .statistics-item-text {
  font-size: 29px;
  font-family: "Montserrat-Bold", sans-serif;
  color: white;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
}
.statistics .svg-icon {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 10;
}
.statistics .svg-icon img {
  position: absolute;
}
@media (max-width: 768px) {
  .statistics .svg-icon img {
    max-width: 70px;
    max-height: 70px;
  }
}
.statistics .svg-icon .cucumber-1 {
  top: 50px;
  left: 25%;
}
.statistics .svg-icon .cucumber-2 {
  top: 250px;
  left: 90%;
}
@media (max-width: 768px) {
  .statistics .svg-icon .cucumber-2 {
    top: 290px;
  }
}
@media (max-width: 600px) {
  .statistics .svg-icon .cucumber-2 {
    top: 360px;
    left: 85%;
  }
}
.statistics .svg-icon .cucumber-3 {
  top: 750px;
  left: 5%;
}
@media (max-width: 768px) {
  .statistics .svg-icon .cucumber-3 {
    top: 555px;
  }
}
.statistics .svg-icon .tomato {
  top: 655px;
  left: 58%;
}
@media (max-width: 979px) {
  .statistics .svg-icon .tomato {
    left: 60%;
    top: 400px;
  }
}
.statistics .svg-icon .onion {
  top: 470px;
  left: 90%;
}
@media (max-width: 1500px) {
  .statistics .svg-icon .onion {
    top: 620px;
    left: 80%;
  }
}
@media (max-width: 979px) {
  .statistics .svg-icon .onion {
    top: 750px;
    left: 80%;
  }
}
@media (max-width: 768px) {
  .statistics .svg-icon .onion {
    top: 1015px;
    left: 75%;
  }
}
.statistics .svg-icon .garlic {
  top: 700px;
  left: 87%;
}
@media (max-width: 768px) {
  .statistics .svg-icon .garlic {
    top: 620px;
  }
}
.statistics .svg-icon .pepper-1 {
  top: 40px;
  left: 77%;
}
@media (max-width: 480px) {
  .statistics .svg-icon .pepper-1 {
    left: 72%;
  }
}
.statistics .svg-icon .pepper-2 {
  top: 630px;
  left: 24%;
}
@media (max-width: 979px) {
  .statistics .svg-icon .pepper-2 {
    left: 20%;
    top: 400px;
  }
}
.statistics .svg-icon .salad {
  top: 190px;
  left: 4%;
}
@media (max-width: 979px) {
  .statistics .svg-icon .salad {
    top: 90px;
  }
}
@media (max-width: 480px) {
  .statistics .svg-icon .salad {
    top: 35px;
  }
}
.statistics .bg1-2 {
  position: absolute;
  top: 0;
  left: -175px;
  z-index: 0;
}