.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 800px;
  background: white;
  position: relative;
  z-index: 100;
}
.subscribe .subscribe-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 850px;
  margin: auto;
  text-align: center;
}
.subscribe .subscribe-block .subscribe-text {
  font-size: 100px;
  font-family: "MyriadProRegular", sans-serif;
  color: #333333;
  line-height: 0.7;
}
@media (max-width: 480px) {
  .subscribe .subscribe-block .subscribe-text {
    font-size: 50px;
  }
}
.subscribe .subscribe-block .subscribe-description {
  margin-top: 50px;
  margin-bottom: 80px;
  font-size: 30px;
  font-family: "Montserrat-Regular", sans-serif;
  color: #333333;
  line-height: 1;
  text-align: center;
}
@media (max-width: 480px) {
  .subscribe .subscribe-block .subscribe-description {
    font-size: 25px;
    margin-bottom: 120px;
  }
}
.subscribe .subscribe-block .subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-shadow: 0 0 100px 1px #bbbbbb;
          box-shadow: 0 0 100px 1px #bbbbbb;
}
@media (max-width: 480px) {
  .subscribe .subscribe-block .subscribe-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.subscribe .subscribe-block .subscribe-form .subscribe-form-input {
  width: 550px;
  padding: 16px 30px;
  font-size: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 25px;
  border: white 0;
  overflow: visible;
}
@media (max-width: 979px) {
  .subscribe .subscribe-block .subscribe-form .subscribe-form-input {
    width: 100%;
  }
}
.subscribe .subscribe-block .subscribe-form .subscribe-form-btn {
  overflow: visible;
  margin: 0;
  padding: 0;
  width: 222px;
  height: 65px;
  border: white 0;
  background: #ffc200;
  font-size: 25px;
  font-family: "Montserrat-Bold", sans-serif;
  color: #333333;
  text-transform: uppercase;
}
@media (max-width: 480px) {
  .subscribe .subscribe-block .subscribe-form .subscribe-form-btn {
    width: 100%;
  }
}
.subscribe .svg-icon {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 10;
}
.subscribe .svg-icon img {
  position: absolute;
}
@media (max-width: 768px) {
  .subscribe .svg-icon img {
    max-width: 70px;
    max-height: 70px;
  }
}
.subscribe .svg-icon .cucumber-1 {
  top: 50px;
  left: 25%;
}
.subscribe .svg-icon .cucumber-2 {
  top: 250px;
  left: 90%;
}
@media (max-width: 600px) {
  .subscribe .svg-icon .cucumber-2 {
    top: 285px;
  }
}
@media (max-width: 480px) {
  .subscribe .svg-icon .cucumber-2 {
    top: 215px;
    left: 80%;
  }
}
.subscribe .svg-icon .cucumber-3 {
  top: 715px;
  left: 5%;
}
.subscribe .svg-icon .tomato {
  top: 655px;
  left: 58%;
}
.subscribe .svg-icon .onion {
  top: 470px;
  left: 90%;
}
@media (max-width: 1170px) {
  .subscribe .svg-icon .onion {
    top: 410px;
    left: 85%;
  }
}
@media (max-width: 480px) {
  .subscribe .svg-icon .onion {
    left: 70%;
  }
}
.subscribe .svg-icon .garlic {
  top: 700px;
  left: 87%;
}
.subscribe .svg-icon .pepper-1 {
  top: 40px;
  left: 77%;
}
@media (max-width: 480px) {
  .subscribe .svg-icon .pepper-1 {
    left: 60%;
  }
}
.subscribe .svg-icon .pepper-2 {
  top: 630px;
  left: 24%;
}
.subscribe .svg-icon .salad {
  top: 190px;
  left: 4%;
}
@media (max-width: 600px) {
  .subscribe .svg-icon .salad {
    top: 110px;
  }
}