.title-here-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 100%;
  width: 100%;
}
.title-here-block .title-here-left-block, .title-here-block .title-here-right-block {
  height: 800px;
}
@media (max-width: 480px) {
  .title-here-block .title-here-left-block, .title-here-block .title-here-right-block {
    height: 650px;
  }
}
.title-here-block .title-here-left-block {
  width: 41%;
  background-image: url("../../images/main/bg1.png");
  max-width: 600px;
}
@media (max-width: 1170px) {
  .title-here-block .title-here-left-block {
    width: 30%;
  }
}
@media (max-width: 768px) {
  .title-here-block .title-here-left-block {
    display: none;
  }
}
.title-here-block .title-here-left-block img {
  margin: 40px 60px;
  position: relative;
  z-index: 100;
}
@media (max-width: 1170px) {
  .title-here-block .title-here-left-block img {
    margin: 40px 4px;
  }
}
@media (max-width: 768px) {
  .title-here-block .title-here-left-block img {
    display: none;
  }
}
.title-here-block .title-here-right-block {
  position: relative;
  width: 100%;
  background: #2f2f2f;
  z-index: 10;
}
.title-here-block .title-here-right-block a {
  color: white;
  text-decoration: none;
}
@media (max-width: 1170px) {
  .title-here-block .title-here-right-block {
    width: 70%;
  }
}
@media (max-width: 768px) {
  .title-here-block .title-here-right-block {
    width: 100%;
  }
}
.title-here-block .title-here-right-block .title-here-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  margin-top: 50px;
  position: relative;
  z-index: 10;
  font-size: 25px;
  font-family: "Montserrat-Regular", sans-serif;
  color: white;
  line-height: 1.2;
  cursor: pointer;
}
@media (max-width: 768px) {
  .title-here-block .title-here-right-block .title-here-header {
    display: none;
  }
}
.title-here-block .title-here-right-block .title-here-header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.title-here-block .title-here-right-block .title-here-header div a {
  -webkit-transition: background-color 0.3s, -webkit-filter 0.3s;
  transition: background-color 0.3s, -webkit-filter 0.3s;
  transition: background-color 0.3s, filter 0.3s;
  transition: background-color 0.3s, filter 0.3s, -webkit-filter 0.3s;
}
.title-here-block .title-here-right-block .title-here-header div a:hover {
  color: #ffc200;
}
.title-here-block .title-here-right-block .title-here-header div img {
  margin: auto;
}
.title-here-block .title-here-right-block .title-here-text-block {
  margin-top: 140px;
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 620px;
  position: relative;
  z-index: 10;
}
@media (max-width: 768px) {
  .title-here-block .title-here-right-block .title-here-text-block {
    margin-top: 200px;
  }
}
@media (max-width: 480px) {
  .title-here-block .title-here-right-block .title-here-text-block {
    margin: 100px 5px 5px 5px;
  }
}
.title-here-block .title-here-right-block .title-here-text-block .title-here-text-head {
  font-size: 125px;
  line-height: 125px;
  font-family: "GrandHotel-Regular", sans-serif;
  color: #ffc200;
}
@media (max-width: 480px) {
  .title-here-block .title-here-right-block .title-here-text-block .title-here-text-head {
    font-size: 75px;
    text-align: center;
  }
}
.title-here-block .title-here-right-block .title-here-text-block .title-here-description {
  margin: 25px 0 40px 0;
  font-size: 30px;
  font-family: "Montserrat-Regular", sans-serif;
  color: white;
}
@media (max-width: 480px) {
  .title-here-block .title-here-right-block .title-here-text-block .title-here-description {
    font-size: 20px;
    text-align: center;
  }
}
.title-here-block .title-here-right-block .title-here-text-block button {
  padding: 10px 0 10px 0;
  max-width: 250px;
  background: #ffc200;
  color: #333333;
  font-size: 20px;
  font-family: "Montserrat-Bold", sans-serif;
}
.title-here-block .title-here-right-block .svg-icon {
  position: absolute;
  width: 100%;
  height: calc(100% - 80px);
  bottom: 0;
  z-index: 10;
}
@media (max-width: 480px) {
  .title-here-block .title-here-right-block .svg-icon {
    height: 100%;
  }
}
.title-here-block .title-here-right-block .svg-icon img {
  position: absolute;
}
@media (max-width: 768px) {
  .title-here-block .title-here-right-block .svg-icon img {
    max-width: 70px;
    max-height: 70px;
  }
}
.title-here-block .title-here-right-block .svg-icon .cucumber-1 {
  top: 35px;
  left: 2%;
}
@media (max-width: 480px) {
  .title-here-block .title-here-right-block .svg-icon .cucumber-1 {
    top: 50px;
  }
}
.title-here-block .title-here-right-block .svg-icon .cucumber-2 {
  top: 220px;
  left: 80%;
}
@media (max-width: 480px) {
  .title-here-block .title-here-right-block .svg-icon .cucumber-2 {
    top: 205px;
  }
}
.title-here-block .title-here-right-block .svg-icon .cucumber-3 {
  top: 590px;
  left: 54%;
}
@media (max-width: 480px) {
  .title-here-block .title-here-right-block .svg-icon .cucumber-3 {
    top: 570px;
  }
}
.title-here-block .title-here-right-block .svg-icon .cucumber-4 {
  top: 560px;
  left: 3.5%;
}
@media (max-width: 480px) {
  .title-here-block .title-here-right-block .svg-icon .cucumber-4 {
    top: 570px;
  }
}
.title-here-block .title-here-right-block .svg-icon .tomato {
  top: 560px;
  left: 23%;
}
@media (max-width: 480px) {
  .title-here-block .title-here-right-block .svg-icon .tomato {
    top: 500px;
  }
}
.title-here-block .title-here-right-block .svg-icon .onion {
  top: 455px;
  left: 81%;
}
@media (max-width: 480px) {
  .title-here-block .title-here-right-block .svg-icon .onion {
    top: 490px;
    left: 75%;
  }
}
.title-here-block .title-here-right-block .svg-icon .garlic {
  top: 660px;
  left: 76%;
}
@media (max-width: 480px) {
  .title-here-block .title-here-right-block .svg-icon .garlic {
    top: 590px;
  }
}
.title-here-block .title-here-right-block .svg-icon .pepper {
  top: 40px;
  left: 63%;
}
@media (max-width: 480px) {
  .title-here-block .title-here-right-block .svg-icon .pepper {
    top: 50px;
  }
}
.title-here-block .title-here-right-block .bg1-2 {
  position: absolute;
  top: 0;
  left: -175px;
  z-index: 0;
}
.title-here-block .title-here-right-block .salad {
  top: 230px;
  left: -90px;
}