@import "./resources/sass/component_mixin.scss";

.comments {

    &-title, &-count {
        @include title-block;
        font-weight: 700;
        font-size: 31px;
    }

    &-count {
        color: #FFFFFF66;
    }

    &-paginate {
        display: flex;
    width: 100%;

        .hidden{
            display: none;
        }

    &-btn {
        padding: 10px 20px;
        justify-content: center;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 700;
        margin: 48px auto 0 auto;
        border: 2px solid #ab9aff;
        background-color: transparent;
        border-radius: 44px;
        color: #ab9aff;
    }
    }

}
