$color-cyan: #10EBF8;
$dark-blue: #163358;
$text-blue: #044988;
$text-gray: #585858;
$white: #FFFDFD;

@mixin font-roboto {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 22px;
}