@import "const";
@import "components";

.wrapper-delivery-regions {

  .wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 70px;

    .items {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding-bottom: 70px;

      @include _768 {
        flex-wrap: wrap;
      }

      .wrapper-item {
        display: flex;
        flex-basis: 250px;

        .item {
          display: flex;
          flex-direction: column;
          padding: 0 5px;

          .image {
            display: flex;
            height: 167px;
            width: 183px;
            margin: 0 auto;
          }

          .title, .description {
            @include font-roboto;
            text-align: center;
          }

          .title {
            height: 50px;
            width: 90%;
            margin: 15px auto;
            font-weight: 800;
            font-size: 24px;
          }

          .description {
            font-weight: 400;
            font-size: 16px;
            line-height: 21px;
          }

        }
      }

    }
  }

  .bottom {
    display: flex;
    flex-direction: column;
    padding-bottom: 70px;
    position: relative;
    z-index: 15;

    @include _768 {
      padding-top: 10px;
    }

    .background {
      position: absolute;
      height: 500px;
      margin: auto;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 10;
      overflow: hidden;
    }

    .region-delivery-title {
      @include font-roboto;
      font-size: 48px;
      line-height: 54px;
      color: black;
      text-align: center;
      margin-bottom: 60px;
      position: relative;
      z-index: 15;
    }

    .regions {
      width: 100%;
      position: relative;
      z-index: 15;

      a {
        margin-bottom: 20px;
      }

      .wrapper-region {
        display: flex;
        flex-basis: 268px;
        justify-content: space-around;

        @include _600 {
          flex-basis: auto;
          flex-direction: column;
        }

        .region {
          display: flex;
          flex-direction: column;

          .region-name {
            @include font-roboto;
            font-weight: 400;
            font-size: 24px;
            line-height: 28px;
            text-align: center;
            color: #1370C6;

            &:hover {
              &::after {
                content: "";
                height: 30px;
                width: 30px;
                background-image: url("images/delivery-regions/hover.svg");
                margin-left: 10px;
                position: absolute;
                display: inline-block;
              }
            }
          }
        }
      }
    }
  }
}