@import "CONST";

.lenora-friends{
  display: flex;
  background-image: url("/images/chicken-grill/bg4.png");
  height: $height-content;
  width: 100%;

  .lenora-friends-bg{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #ffc200;
    opacity: 50%;
  }

  .lenora-friends-block {
    display: flex;
    flex-direction: column;
    margin: auto;

    .lenora-friends-text {
      font-size: 45px;
      font-family: "Montserrat-Regular", sans-serif;
      color: $color-grey;
      text-align: center;
    }

    .lenora-friends-description {
      margin-top: 50px;
      font-size: 75px;
      font-family: "GrandHotel-Regular", sans-serif;
      color: $color-grey;
      line-height: 0.8;
      text-align: center;
    }
  }
}
