$color: #324234;
@import 'media_mixin.scss';

body{
  background: #ffffff;
}

header {
  flex-direction: row;
  position: fixed;
  width: 100%;
  height: 11px;
  border-bottom: solid #383838 1px;
  margin: auto;
  font-size: 20px;
  z-index: 1000;

}

#menu-toggle {
  opacity: 0;

  &:checked ~ .menu-btn > span {
    transform: rotate(45deg);
  }

  &:checked ~ .menu-btn > span::before {
    top: 0;
    transform: rotate(0);
  }

  &:checked ~ .menu-btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }

  &:checked ~ .menu-box {
    visibility: visible;
    left: 0;
  }
}

.menu-btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu-btn {
  & > span,
  & > span::before,
  & > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
  }

  & > span::before {
    content: '';
    top: -8px;
  }

  & > span::after {
    content: '';
    top: 8px;
  }

}

.menu-box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  li{
    margin: 0;
    a{
      color: $color;
    }
  }
}
