@import "CONST";
@import "media_mixin";

.subscribe {
  display: flex;
  width: 100%;
  height: $height-content;
  background: white;
  position: relative;
  z-index: 100;

  .subscribe-block {
    display: flex;
    flex-direction: column;
    width: 850px;
    margin: auto;
    text-align: center;
    padding: 5px;
    position: relative;
    z-index: 11;

    .subscribe-text {
      font-size: 100px;
      font-family: "MyriadProRegular", sans-serif;
      color: $color-grey;
      line-height: 0.7;

      @include _480{
        font-size: 50px;
      }
    }

    .subscribe-description {
      margin-top: 50px;
      margin-bottom: 80px;
      font-size: 30px;
      font-family: "Montserrat-Regular", sans-serif;
      color: $color-grey;
      line-height: 1;
      text-align: center;

      @include _480{
        font-size: 25px;
        margin-bottom: 120px;
      }
    }

    .subscribe-form {
      display: flex;
      margin: auto;
      width: fit-content;
      box-shadow: 0 0 100px 1px #bbbbbb;

      @include _480{
        flex-direction: column;
      }

      .subscribe-form-input {
        width: 550px;
        padding: 16px 30px;
        font-size: 25px;
        box-sizing: border-box;
        line-height: 25px;
        border: white 0;
        overflow: visible;

      @include _979{
        width: 100%;
      }
      }

      @include button{
        max-width: none;
        width: 222px;
        height: 65px;
        font-size: 25px;

        @include _480{
         width: 100%;
        }
      }
    }
  }

  .svg-icon {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 10;

    & img {
      position: absolute;

      @include _768{
        max-width: 70px;
        max-height: 70px;
      }
    }

    .cucumber-1 {
      top: 50px;
      left: 25%;
    }

    .cucumber-2 {
      top: 250px;
      left: 90%;

      @include _600{
        top: 285px;
      }

      @include _480{
        top: 215px;
        left: 80%;
      }
    }

    .cucumber-3 {
      top: 715px;
      left: 5%;
    }

    .tomato {
      top: 655px;
      left: 58%;
    }

    .onion {
      top: 470px;
      left: 90%;

      @include _1170{
        top: 410px;
        left: 85%;
      }

      @include _480{
        left: 70%;
      }
    }

    .garlic {
      top: 700px;
      left: 87%;
    }

    .pepper-1 {
      top: 40px;
      left: 77%;

      @include _480{
        left: 60%;
      }

    }

    .pepper-2 {
      top: 630px;
      left: 24%;
    }

    .salad {
      top: 190px;
      left: 4%;

      @include _600{
        top: 110px;
      }
    }
  }
}
