@import "CONST";
@import "media_mixin";

.title-here-block {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  width: 100%;

  .title-here-left-block, .title-here-right-block {
    height: 800px;

    @include _480{
      height: 650px;
    }
  }

  .title-here-left-block {
    width: 41%;
    background-image: url("../../images/main/bg1.png");
    max-width: 600px;

    @include _1170 {
      width: 30%;
    }

    @include _768 {
      display: none;
    }

    & img {
      margin: 40px 60px;
      position: relative;
      z-index: 100;

      @include _1170 {
        margin: 40px 4px;
      }

      @include _768 {
        display: none;
      }
    }
  }

  .title-here-right-block {
    position: relative;
    width: 100%;
    background: $color-grey-bg;
    z-index: 10;

    @include _1170 {
      width: 70%;
    }

    @include _768 {
      width: 100%;
    }

    .title-here-header {
      display: flex;
      flex-direction: row;
      width: 100%;
      margin-top: 50px;
      position: relative;
      z-index: 10;
      font-size: 25px;
      font-family: "Montserrat-Regular", sans-serif;
      color: white;
      line-height: 1.2;
      cursor: pointer;

      @include _768 {
        display: none;
      }

      div {
        display: flex;
        width: 100%;

        a {
          transition: background-color .3s, filter .3s;

          &:hover {
            color: $color-orange;
          }
        }

        img {
          margin: auto;
        }
      }
    }

    .title-here-text-block {
      margin-top: 140px;
      margin-left: 50px;
      display: flex;
      flex-direction: column;
      max-width: 620px;
      position: relative;
      z-index: 10;

      @include _768 {
        margin-top: 200px;
      }

      @include _480{
        margin: 100px 5px 5px 5px;
      }

      .title-here-text-head {
        font-size: 125px;
        line-height: 125px;
        font-family: "GrandHotel-Regular", sans-serif;
        color: $color-orange;

        @include _480{
          font-size: 75px;
          text-align: center;
        }
      }

      .title-here-description {
        margin: 25px 0 40px 0;
        font-size: 30px;
        font-family: "Montserrat-Regular", sans-serif;
        color: white;

        @include _480{
          font-size: 20px;
          text-align: center;
        }
      }

      button {
        padding: 10px 0 10px 0;
        max-width: 250px;
        background: $color-orange;

        color: $color-grey;
        font-size: 20px;
        font-family: "Montserrat-Bold", sans-serif;

      }
    }

    .svg-icon {
      position: absolute;
      width: 100%;
      height: calc(100% - 80px);
      bottom: 0;
      z-index: 10;

      @include _480{
        height: 100%;
      }

      & img {
        position: absolute;

        @include _768{
          max-width: 70px;
          max-height: 70px;
        }
      }

      .cucumber-1 {
        top: 35px;
        left: 2%;

        @include _480{
          top: 50px;
        }
      }

      .cucumber-2 {
        top: 220px;
        left: 80%;

        @include _480{
          top: 205px;
        }
      }

      .cucumber-3 {
        top: 590px;
        left: 54%;

        @include _480{
          top: 570px;
        }
      }

      .cucumber-4 {
        top: 560px;
        left: 3.5%;

        @include _480{
          top: 570px;
        }
      }

      .tomato {
        top: 560px;
        left: 23%;

        @include _480{
          top: 500px;
        }
      }

      .onion {
        top: 455px;
        left: 81%;

        @include _480{
          top: 490px;
          left: 75%;
        }
      }

      .garlic {
        top: 660px;
        left: 76%;

        @include _480{
          top: 590px;
        }
      }

      .pepper {
        top: 40px;
        left: 63%;

        @include _480{
          top: 50px;
        }
      }

    }

    .bg1-2 {
      position: absolute;
      top: 0;
      left: -175px;
      z-index: 0;
    }

    .salad {
      top: 230px;
      left: -90px;
    }
  }
}
