@import './resources/sass/_variables.scss';
//@import '';

.stars{
    display: flex;
    flex-direction: row;
    justify-content: right;
    //width: 90px;
   &__item{
       width: auto;
       right: 0;
       color: white;
       font-size: 20px;
       text-align: right;
   }
}
