@import "./resources/sass/_variables.scss";
@import "./resources/sass/component_mixin.scss";

.recommended-articles {
    display: flex;
    flex-direction: column;

    &-title {
        @include title-block;
    }

    &-items {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;


    }
}
