@import "CONST";
@import "media_mixin";

.oriental-taste {
  box-sizing: content-box;
  display: flex;
  position: relative;
  justify-content: center;
  max-width: 100%;
  width: 100%;
  height: 800px;
  background: white;

  @include _979 {
    height: auto;
    padding-bottom: 100px
  }

  .oriental-taste-bg {
    width: 100%;
    position: absolute;
    top: 160px;
    z-index: 1;

    @include _979 {
      top: auto;
      bottom: -20px;
    }

    @include _480 {
      height: 75%;
      width: auto;
    }
  }

  .oriental-taste-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    max-width: $width-content;
    height: $height-content;
    margin-top: 250px;
    position: relative;
    z-index: 100;

    @include _979 {
      margin-top: 50px;
      flex-direction: column;
      justify-content: center;
    }

    & > div {
      width: 100%;
      @include _979 {
        display: flex;
        justify-content: center;
      }
    }

    .oriental-taste-left {
      @include _480 {
        width: 75%;
        margin: auto;
      }
    }

    .oriental-taste-right {
      display: flex;
      flex-direction: column;

      @include _979 {
        text-align: center;
      }

      .oriental-taste-text {
        margin-top: 100px;
        font-size: 100px;
        font-family: "GrandHotel-Regular", sans-serif;
        color: $color-orange;
        line-height: 1;
      }

      .oriental-taste-description {
        font-size: 25px;
        margin-top: 30px;
        margin-bottom: 60px;
        font-family: "Montserrat-Regular", sans-serif;
        color: white;
        line-height: 1.2;
      }


      @include button {
        max-width: 330px;
        width: 100%;
        padding: 25px 75px;
        font-size: 25px;

        @include _979 {
          margin: auto;
        }
      }
    }
  }
}



