.add-millage {
  display: flex;
  flex-direction: column;
  width: 50%;

  .add-distance-btn {
    display: inline-block;
    justify-content: center;
    align-content: start;
    margin: 0 auto;
    height: 30px;
    padding: 5px 5px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    background-color: #40b0a7;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #2fdeca;
    width: 90%;
  }

  .distance {
    width: 80%;
    margin: 10px auto 0 auto;
    background: rgba(255, 255, 255, 0.83);

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      /* display: none; <- Crashes Chrome on hover */
      -webkit-appearance: none;
      margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }
  }

  .button-wrapper {
    width: 170px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;

    button {
      width: 45%;
      display: inline-block;
      box-sizing: border-box;
      outline: none;
      border: none;
      border-radius: 3px;
      height: 20px;
      font-size: 14px;
      text-transform: uppercase;
      color: #fff;
      cursor: pointer;
      transition: box-shadow .18s ease-out, background .18s ease-out, color .18s ease-out;

      &:hover {
        box-shadow: 0 1px 1px 0 #cfcfcf, 0 2px 5px 0 #cfcfcf;
      }
    }

    .cancel {
      background-color: #cd0505;
    }

    .submit {
      background-color: #05cd51;
    }
  }
  .border{
    border: red solid 2px;
    border-radius: 10px;
  }
}
