.new-card-and-millage {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 10px;
  .menu-row{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 15px;

    .filter{
      width: 50%;
      max-width: 250px;

      .btn{
        width: 90%;
        margin: auto;
        button{
          width: 33%;
          cursor: pointer;
          border: black solid 1px;
          border-radius: 15px;
          font-size: 20px;
          height: 30px;
        }
        .checked{
          background-color: #40b0a7;
          color: white;
        }
      }
    }

  }
}