@import "./resources/sass/_variables.scss";

.comment {
    display: flex;
    flex-direction: column;
    padding: 24px;
    margin: 10px 0;
    border-radius: 20px;
    background-color: $bg-div-wrapper;

    &__top-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;

        &-stars {
            font-size: 28px;
            line-height: 36px;
        }

        &-date, &-city {
            font-family: Roboto, sans-serif;
            font-size: 15px;
            color: #afb4bc;
            margin: 0 12px;
        }

        &-nav {
            position: absolute;
            right: 0;

            &-image {
                width: 25px;
                cursor: pointer;
            }
        }
    }

    &__bottom-text {
        margin-top: 16px;
        font-family: Roboto, sans-serif;
        font-size: 15px;
        color: #afb4bc;
    }
}
