@font-face {
    font-family: "MyriadProRegular";
    font-style: normal;
    font-weight: normal;
    src: local("Roboto"),
    url("../fonts/MyriadProRegular.ttf") format("truetype")
}

@font-face {
    font-family: "RobotoCondensed";
    font-style: normal;
    font-weight: bold;
    src: local("Roboto"),
    url("../fonts/RobotoCondensed.ttf") format("truetype")
}

@font-face {
    font-family: "GothamBold";
    font-style: normal;
    font-weight: normal;
    src: local("Roboto"),
    url("../fonts/GothamBold.otf") format("opentype")
}

@font-face {
    font-family: "GothamMedium";
    font-style: normal;
    font-weight: normal;
    src: local("Roboto"),
    url("../fonts/GothamMedium.otf") format("opentype")
}

@font-face {
    font-family: "GothamBook";
    font-style: normal;
    font-weight: normal;
    src: local("Roboto"),
    url("../fonts/GothamBookRegular.otf") format("opentype")
}
