@import "./resources/sass/_variables.scss";
@import "./resources/sass/media_mixin.scss";

header {

    height: 130px;
    background: $gradient-down-header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px 20px 70px;
    border-radius: 0 0 30px 30px;

    @include _768 {
        padding: 0 5px 20px 5px;
    }

    @include _600 {
        justify-content: center;
        height: 90px;
        padding: 5px;
    }
}

.logo {
    height: 50px;
    filter: invert(1);
    transform: scaleX(-1);
    cursor: pointer;

    @include _600 {
        display: none;
    }
}

.number {
    width: 450px;
    display: flex;
    justify-content: center;
    position: relative;

    &__code {
        position: absolute;
        left: 5%;
        font-size: 35px;
        font-family: inherit;
        color: gray;
        top: 3px;

        @include _350 {
            font-size: 28px;
        }
    }

    &__input {
        height: 60px;
        width: 100%;
        margin: auto;
        border: seashell solid 0;
        border-radius: 40px;
        font-family: inherit;
        font-size: 35px;
        text-align: center;

        @include _480 {
            &[type="text"] {
                padding-left: 20%;
            }
        }

        @include _350 {
            font-size: 28px;
            height: 50px;

            &[type="text"] {
                padding-left: 20%;
            }

        }

    }

    &__search {
        height: 50px;
        padding: 14px;
        border-radius: 40px;
        background: #00dc05;
        position: absolute;
        top: 5px;
        right: 5%;
        cursor: pointer;
        filter: invert(1);

        @include _480 {
            height: 40px;
            top: 10px;
        }
        @include _400 {
            display: none;
        }
    }
}

.todo {
    visibility: hidden;

    @include _600 {
        display: none;
    }
}
