@import "components";
@import "media_mixin";


.wrapper-healthy-water {
  min-height: 510px;
  background-image: url("/images/healthy-water/bg-healthy-water.png");
  position: relative;

  .border {
    position: absolute;
    top: -5px;
    width: 100%;
    z-index: 20;
  }

  .left-bg {
    position: absolute;
    left: 50%;
    width: 50%;
    max-height: 510px;
    min-height: 510px;
    z-index: 1;

    @include _979{
      max-height: none;
    }
  }

  .wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 0;
    z-index: 5;

    @include _979{
      flex-direction: column-reverse;
    }

    .half {
      width: 50%;
      @include _979{
        width: 100%;
      }
    }

    .left{
      @include _979{
        height: 400px;
        background-image: url("/images/healthy-water/bg-healthy-water.png");
        background-position: left;
        background-size: cover;
      }
    }

    .right {
      position: relative;

      @include _979{
        height: 550px;
        background-image: url("/images/healthy-water/left-bg.png");
        background-position: left;
        background-size: cover;
      }

      .blob {
        position: absolute;
        max-height: 510px;
        margin: auto;
        top: 0;
        left:50%;
        transform:translate(-50%);
        z-index: 2;

        @include _979{
          top:50%;
          left:50%;
          transform:translate(-50%, -50%);
        }
      }


      .wrapper-right {
        position: relative;
        z-index: 10;
        display: flex;
        flex-direction: column;
        padding-top: 70px;
        padding-left: 120px;

        @include _979{
          justify-content: center;
          max-width: 400px;
          margin: auto;
          padding: 70px 5px 5px 5px;
        }

        .title {
          @include font-roboto;
          font-style: normal;
          font-weight: 700;
          font-size: 48px;
          line-height: 54px;
          max-width: 370px;
          width: 100%;
          color: #FFFFFF;
        }

        .description {
          display: flex;
          flex-direction: row;
          align-items: center;
          max-width: 320px;
          width: 100%;
          margin-top: 30px;

          img {
            height: 41px;
            color: white;
          }

          span {
            @include font-roboto;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #FFFFFF;
            margin-left: 16px;
          }

        }

        .wrapper-cost {
          display: flex;
          margin-top: 25px;

          span {
            @include font-roboto;
            font-style: normal;
            font-weight: 700;
            font-size: 30px;
            line-height: 32px;
            color: #FFFFFF;
          }

          .text {
            font-weight: 600;
            font-size: 23px;
            margin-right: 10px;
          }
        }

        button {
          @include button
        }
      }

    }
  }
}