@import "const";
@import "components";

.wrapper-water-sales {
  background-image: url("images/water-sales/bg.png");
  height: 650px;
  background-position: center;
  background-size: cover;
  padding-top: 50px;

  @include _979 {
    height: auto;
    padding-bottom: 20px;
  }

  .wrapper {
    height: 100%;

    .half {
      flex-basis: 600px;
      width: 610px;

      @include _979 {
        flex-basis: auto;
        width: auto;
      }

      .wrapper-half {
        display: flex;
        flex-direction: column;

        .title {
          @include font-roboto;
          font-style: normal;
          font-weight: 700;
          font-size: 48px;
          line-height: 54px;
          color: white;

          @include _480 {
            font-size: 30px;
            line-height: 35px;
          }

          @include _350 {
            font-size: 25px;
            line-height: 30px;
          }
        }

        .description {
          &-1, &-2 {
            @include font-roboto;
            font-style: normal;
            font-weight: 500;
            line-height: 22px;
            color: white;
          }

          &-1 {
            font-size: 16px;
            margin-top: 35px;
          }

          &-2 {
            font-size: 22px;
            margin-top: 15px;
          }
        }

        .btn {
          @include button;

          background: rgba(0, 0, 0, 0);
          border: #10EBF8 solid 2px;
          color: white;
        }
      }
    }
  }
}