@import "const";
@import "media_mixin";
@import "components";

.wrapper-water-suyum {
  height: 660px;
  background-image: url("images/bg/main_bg.png");
  padding-top: 100px;
  background-position: center;
  background-size: cover;
  position: relative;

  @include _768{
    padding-top: 0;
    height: 500px;
  }

  .border {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    position: relative;

    .title {
      @include font-roboto;
      margin-top: 88px;
      font-size: 57px;
      line-height: 57px;
      color: #FFFFFF;
      max-width: 650px;
      font-style: normal;
      font-weight: 700;

      @include _480{
        font-size: 30px;
        line-height: 35px;
      }
    }

    .description {
      @include font-roboto;
      font-style: normal;
      max-width: 252px;
      font-weight: 400;
      font-size: 16px;
      line-height: 25px;
      color: #FFFFFF;
      margin-top: 20px;
      letter-spacing: 1px
    }

    .button {
      @include button
    }

    .year {
      top: 290px;
      right: 14%;
      height: 123px;
      width: 123px;
      background-image: url("images/water-suyum/year.svg");
      position: absolute;

      @include _480{
        top: 376px;
        right: 35%;
      }

      .year-title {
        @include font-roboto;
        font-size: 7px;

      }

      .year-number {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include font-roboto;
        font-style: normal;
        font-weight: 700;
        font-size: 55px;
        line-height: 64px;
        text-align: center;
        letter-spacing: -4px;
        color: $dark-blue;

      }


    }

  }

}