.main {
    width: 100%;
    min-height: calc(100vh - 230px);
    font-family: Roboto, sans-serif;
    color: #fff;
    font-weight: 300;

    @include _600{
        min-height: calc(100vh - 190px);
    }

    &-search {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: linear-gradient(0deg, #be2ef8, #663ef5);
        line-height: 1;
        border-radius: 0 0 30px 30px;

        &-top {
            font-size: 40px;
            font-weight: 300;
            text-align: center;

            &-bold {
                font-weight: 700;
            }
        }

        &-bottom {
            text-align: center;
            font-size: 26px;
        }

        &-input {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 60px 0;
            margin: 0 3px;

            @include _600{
                padding: 30px 0;
            }

            &-bottom {
                text-align: center;
                margin-top: 16px;
                font-size: 12px;

                &-hover {
                    margin-left: 5px;
                    color: #f884ff;
                    transition: .2s;
                    white-space: nowrap;

                    &:hover {
                        color: white;
                    }
                }
            }
        }
    }

    &-comments {
        margin: 48px 0;
    }
}
