.red-btn {
  background-color: #fd0283;
}

.green-btn {
  background-color: #02fd06;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background: #ffffff;
}

img {
  overflow: hidden;
}

.box {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: blue;
}

.wrapper {
  position: relative;
  width: 400px;
  height: 400px;
  border: 3px solid red;
}

.btn-block {
  background-color: grey;
  margin-top: 10px;
}

button {
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 5px;
  width: 100px;
  height: 40px;
  background-color: yellow;
  border: none;
  transition: 0.3s all;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.btn-block, .dynamic-btn-block, .set-timeout-block, .date-block, .ajax-block, .jquery-block {
  margin-top: 10px;
  background-color: grey;
  padding: 10px;
}

.dynamic-btn-block .remove-btn {
  background-color: #fd0283;
}
.dynamic-btn-block .add-btn {
  background-color: #02fd06;
}

.set-timeout-block .remove-btn {
  background-color: #fd0283;
}
.set-timeout-block .add-btn {
  background-color: #02fd06;
}

.ajax-block label {
  display: block;
  font-size: 30px;
}
.ajax-block input {
  width: 300px;
  height: 50px;
  font-size: 30px;
}

.jquery-block button {
  width: 100px;
  height: 40px;
  margin-right: 50px;
}
.jquery-block .list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.jquery-block .list-item {
  display: block;
  border-radius: 4px;
  width: 150px;
  height: 50px;
  transition: 1s;
  border: 1px solid navy;
  font-size: 20px;
}
.jquery-block .active {
  width: 200px;
  height: 80px;
}
.jquery-block .wrapper {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
.jquery-block img {
  height: 300px;
}