.best-seller {
  max-width: 100%;
  width: 100%;
  height: 800px;
  background: white;
}
.best-seller .best-seller-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 1200px;
  text-align: center;
  margin: auto;
}
.best-seller .best-seller-block img {
  max-width: 240px;
  max-height: 240px;
}
.best-seller .best-seller-block .best-seller-text {
  margin-top: 135px;
  font-size: 75px;
  font-family: "GrandHotel-Regular", sans-serif;
  color: #333333;
  line-height: 55px;
}
.best-seller .best-seller-block .best-seller-description {
  font-size: 25px;
  font-family: "Montserrat-Regular", sans-serif;
  color: #333333;
  line-height: 25px;
  max-width: 910px;
  margin: 50px auto 80px auto;
}
.best-seller .best-seller-block .best-seller-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.best-seller .best-seller-block .best-seller-list .best-seller-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 250px;
}
.best-seller .best-seller-block .best-seller-list .best-seller-item .best-seller-item-text {
  margin: 17px 0 25px 0;
  font-size: 42px;
  font-family: "GrandHotel-Regular", sans-serif;
  color: #333333;
  line-height: 35px;
  text-align: center;
}
.best-seller .best-seller-block .best-seller-list .best-seller-item .best-seller-item-description {
  font-size: 17px;
  font-family: "Montserrat-Regular", sans-serif;
  color: #333333;
  line-height: 1.2;
  text-align: center;
}

@media (max-width: 768px) {
  .best-seller {
    height: auto;
    margin: auto;
  }
  .best-seller .best-seller-item {
    margin: 0 auto 20px auto;
  }
}