.title-head-block {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  width: 100%;
}
.title-head-block .title-head-left-block, .title-head-block .title-head-right-block {
  width: 100%;
  height: 800px;
}
.title-head-block .title-head-left-block {
  width: 41%;
  background-image: url("../../images/main/bg1.png");
}
.title-head-block .title-head-right-block {
  width: 59%;
  background: #333333;
}
