// Body
$body-bg: #1c2237;;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//Colors
$gradient-up-header: #663ef5;;
$gradient-down-header: linear-gradient(0deg,#be2ef8,#663ef5);
