.rating-form {
    display: flex;
    width: 100%;
    padding: 60px 80px;
    margin: 0 0 48px;
    flex-direction: column;
    justify-content: center;
    background-color: $bg-div-wrapper;
    border-radius: 20px;

    @include _600 {
        padding: 20px 30px;
    }

    @include _400 {
        padding: 20px 5px;
    }

    &__area {
        box-sizing: content-box;
        overflow: hidden;
        width: 267px;
        margin: 0 auto 40px auto;
        padding: 10px;
        border-radius: 40px;

        @include _350{
            width: 210px;
        }

        &:not(:checked) {
            & > input {
                display: none;
            }

            & > label {
                float: right;
                padding: 0;
                cursor: pointer;
                font-size: 64px;
                line-height: 40px;
                color: #a2a2a2;

                @include _350{
                    font-size: 50px;
                }
            }

            & > label:before {
                content: '★';
                line-height: 50px;
            }

            & > label:hover,
            &:not(:checked) > label:hover ~ label {
                color: white;
            }
        }

        & > input:checked ~ label {
            color: white;
        }
    }

    &__title {
        color: #fff;
        font-size: 40px;
        font-family: Roboto, sans-serif;
        margin-bottom: 32px;
        font-weight: 700;
        text-align: center;

        @include _480 {
            font-size: 30px;
        }
    }

    &__post-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__review {
        width: 100%;
        height: 120px;
        padding: 12px 16px;
        margin-bottom: 15px;
        border-radius: 10px;
    }

    &__check {
        font-family: Roboto, sans-serif;
        font-size: 13px;
        margin-bottom: 20px;
        display: flex;
        flex-wrap: wrap;

        @include _400 {
            justify-content: center;
            margin-bottom: 10px;
        }

        &-input {
            height: 20px;
            width: 20px;
            margin-right: 4px;
        }

        &-text {
            color: #afb4bc;
            margin-right: 4px;
            user-select: none;
        }

        &-url {
            color: #ab9aff;
            font-weight: 700;
            user-select: none;
        }
    }

    &__button {
        width: 224px;
        box-sizing: border-box;
        background-color: #ab9aff;
        color: #fff;
        font-weight: 700;
        align-items: center;
        text-transform: uppercase;
        border-radius: 40px;
        padding: 16px 44px;
        font-family: Roboto, sans-serif;
        font-size: 21px;
        border: 0 solid #663ef5;
        transition: .2s;
        margin: 0 auto 40px auto;

        &:hover {
            background-color: #f884ff;
        }
    }

    &__bottom-text {
        font-family: Roboto, sans-serif;
        font-size: 13px;
        color: #afb4bc;
        text-align: center;

        &-phone {
            color: white;
        }
    }

    &__hidden {
        display: none;
    }
}

